# 1. 의존성 폴더
node_modules/

# 2. 환경 변수 파일
.env
.env.local
.env.development
.env.test
.env.production

# 3. 빌드 결과물
build/
dist/

# 4. 각종 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 5. OS 생성 파일
.DS_Store

# 6. 에디터 설정
.vscode/
.idea/